/* =body */
body
{
	background-color:#F8F8F8;
font-family: Arial,Tahoma;}

/* =container */

#container
{
	max-width: 1050px;
	position:relative;
	margin: 0pt auto;
	background:#CCC;
	box-shadow:0px 20px 10px rgb(85, 85, 85);
	-mov-box-shadow:0px 20px 10px rgb(85, 85, 85);
	-webkit-box-shadow:0px 20px 10px rgb(85, 85, 85);
	top: -7px;
	}
	
	
#banner
{
	width: inherit;
	height: 200px;
	position:relative;
	}
#nav
{
	width: 1050;
	height: 30px;
	border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
background-color: #FCFCFC;
padding-top: 5px;
	}

#nav ul 
{ top:-2px;}
#nav li
{
	display:inline;
	padding: 12px 13px;
	}
#nav li a
{ color: #0A0;
text-decoration:none;}
#nav li a:hover
{ color: #D1F459;}
	
#contentarea
{
	width: 1050px;
	position:relative;
	top: 0px;
	background-color:#FFF;
	height:auto;
	}

#content
{
	width: 980px;
	
	position:relative;
	left: 1px;
	height:auto;
	}
#content p
{text-align:center}
#content a
{ text-decoration: none;
color:#093;}
#content a:hover
{ text-decoration:underline;
 
}
	/*
table 
{
padding-left: 4px;
}
*/
a
{color: #0A0;}
a:hover
{
	color:#D1F459;
	}
#sidebar1
{
	width: 395px;
	height: 465px;
	position: absolute;
	background-color:#000000;
	left: 654px;
	top: 0px;
	}

.heding 
{ width: 960px;
padding-left: 15px;
text-align:center;
}
	
#footer
{ background-color: #86FF0D;
height: 60px;}
