/* =body */
body
{
	background-color:#F8F8F8;
font-family: Arial,Tahoma;}

/* =container */

#container
{
	max-width: 1050px;
	position:relative;
	margin: 0pt auto;
	background: #Fff;
	box-shadow:0px 20px 10px rgb(85, 85, 85);
	-mov-box-shadow:0px 20px 10px rgb(85, 85, 85);
	-webkit-box-shadow:0px 20px 10px rgb(85, 85, 85);
	top: -7px;
	}
	
	
#banner
{
	width: 1050;
	height: 100px;
	position:relative;
	}
#nav
{
	width: 1050;
	height: 30px;
	border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
background-color: #FCFCFC;
padding-top: 5px;
	}

#nav ul 
{ top:-2px;}
#nav li
{
	display:inline;
	padding: 12px 13px;
	}
#nav li a
{ color: #0A0;
text-decoration:none;}
#nav li a:hover
{ color: #D1F459;}
	
#contentarea
{
	width: 1050px;
	position:relative;
	top: 0px;
	background-color:#FFF;
	}


#content
{
	width: 650px;
	height: 465px;
	position:relative;
	left: 3px;
	
	}
	
#loginform
{ 
margin-top: 20px;
margin-left: 30px;}
#sidebar1
{
	width: 350px;
	height: 465px;
	position: absolute;
	background-color: #fff;
	left: 689px;
	top: 2px;
	}

.heding 
{ width: 900px;
text-align:center;
}
	
#footer
{ background-color: #86FF0D;
height: 40px;}
